{% extends 'core/base.html' %}
{% block title%}Welcomne CS 410 Group Project {% endblock title%}
{% block content %}
<h1> The Main Page</h1>
<p> This is the main page for the CS 410 Group Project</p>
<!-- searchbar  -->
<div class="flex justify-center">
  <div class="w-1/2">
    <form action="#" method="GET">
      <input
        type="text"
        name="q"
        placeholder="Search for a term"
        class="w-full px-4 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
      />
        <!-- Dropdown with choices bm25, bow -->
        <select
          name="search_type"
          class="w-full px-4 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        >
            <option value="bm25">BM25</option>
            <option value="bow">Bag of Words</option>
        </select>
        <button
            type="submit"
            class="px-6 py-3 text-lg font-semibold bg-teal-600 text-white hover:bg-teal-500 rounded transition duration-300"
        >Search</button>
        
        
    </form>
  </div>

</div>
<!-- end searchbar -->




{% endblock content %}

